::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  margin: 4px;
}

::ng-deep .mat-checkbox-background svg {
  display: none;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #3baa33 !important;
}

// .signin-main {
//   .content {
//     .agreement {
//       padding-bottom: 2em;
//       color: #353535;
//     }
//   }
// }
