<!-- <div class="signin-main theme-container">
    <p class="title"> Login </p>

    <div class="content">
        <p class="agreement">
            By registering, I agree to SastoRamro's <a href="javascript:void(0); " class="forget-pw"> Terms of Use </a>
            and <a href="javascript:void(0);" class="forget-pw"> Privacy Policy </a> and I consent to receiving
            marketing
            communications from SastoRamro.
        </p>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between none" fxLayoutGap="20px">

            <div class="right" fxLayout="column" fxFlex="48" fxLayoutGap="30px">
                gggggkjlashfjgshdf sdhdkjhfg
            </div>

            <p class="hl" fxHide="true" fxShow.lt-sm><span class="hor-line">Or</span></p>

            <div fxFlex="4" class="middle" fxLayout="column" fxLayoutAlign="none center" fxLayoutGap="5px" fxHide="true"
                fxShow.gt-xs>
                <span class="line"></span>
                <span class="or"> Or</span>
                <span class="line"></span>
            </div>
            <div> 

            </div>
        </div>
    </div>
    </div> -->

    <div class="theme-container">

        <!-- <app-grid [head]="heading" [val]="data" ></app-grid> -->

        <div >
            <app-grid
              [columns]="columns"
              [data]="rowData"
              [pagination]="true"
              >
            </app-grid>
          </div>

          <h1>JS Tree</h1>
	<div id="frmt" class="demo"></div>
    </div>