.signin-main {
    background: #f4f4f4;
    padding-top: 50px;
    padding-bottom: 90px;
  
    .title {
      // margin: 50px 0 35px;
      font-size: 35px;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .content {
      width: 700px;
      margin: 0 auto;
      background: #FFFFFF;
      padding: 35px;
  
      .agreement {
        padding-bottom: 2em;
        color: #353535;
      }
  
      .forget-pw {
        color: #3baa33;
      }
  
      .left {
        .input-text {
          background: #FFFFFF0B;
          border: 1px solid #CCCCCC;
          border-radius: 4px;
          opacity: 1;
          width: 100%;
          height: 45px;
          padding-left: 15px;
        }
  
        mat-form-field {
          width: 100%;
        }
  
        mat-error {
          // padding: 5px;
        }
  
        .btn-error {
          cursor: not-allowed;
        }
  
        // .forget-pw {
        //   color: #3baa33;
        // }
  
        .rememberme {
          font-size: 13px;
        }
  
        .btn-submit {
          background: #3baa33;
          border: 0;
          font-size: 1em;
          color: #fff !important;
          height: 45px;
          border-radius: 4px;
        }
  
        .dhaccount {
          font-size: .875em;
        }
      }
  
      .middle {
        .line {
          height: 56px;
          margin: 0 10px;
          width: 0;
          border: 1px solid #CCCCCC;
          border-top: none;
          border-right: none;
          border-bottom: none;
        }
  
        // .line-col{
        //   border-top: 3px solid #bbb;
        // }
  
        .or {
          margin: 0 5px;
          font-size: 12px;
        }
      }
  
      .right {
        .icon-grp {
          height: 55.56px;
          background-color: #4267b2;
          cursor: pointer;
          border-radius: 4px;
  
          .google-wrapper {
            height: 55.56px;
            width: 55.56px;
            border: 2px solid #4285f4;
            background: #ffffff;
            border-radius: 4px;
  
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              // margin-left:-7px;
            }
          }
  
          .fb-wrapper {
            height: 55.56px;
            width: 55.56px;
            border: 2px solid #4267b2;
            background: #ffffff;
            border-radius: 4px;
  
            img {
              height: 48%;
              width: 48%;
              object-fit: cover;
            }
          }
  
          .icon-desp {
            padding: 0 15px;
            color: #FFFFFF;
            font-size: 14px;
          }
        }
  
        .google-icon {
          background: #4285f4;
        }
  
        .icon-grp:hover {
          background-color: #264688;
  
          .fb-wrapper {
            border: 2px solid #264688;
          }
        }
  
        .google-icon:hover {
          background-color: #3165b9;
  
          .google-wrapper {
            border: 2px solid #3165b9;
          }
        }
  
      }
  
      .hl {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #0000004d;
        line-height: 0.1em;
        margin: 10px 0 20px;
      }
  
      .hl .hor-line {
        background: #fff;
        padding: 0 10px;
      }
    }
  }
  
  @media (max-width: 599px) {
    .signin-main {
      padding-top: 20px;
      padding-bottom: 50px;
  
      .title {
        font-size: 25px;
        margin-bottom: 10px;
      }
  
      .content {
        .right {
          .icon-grp {
            .fb {
              height: 100% !important;
            }
          }
  
          .google-icon {
            .icon-wrapper {
              img {
                margin-left: -9px;
                margin-top: 0px;
                height: 47px;
              }
            }
          }
        }
  
        width: 90%;
        padding: 13px 10px 10px 10px;
  
        .signin-or-register-form {
          margin-top: 10px;
        }
      }
    }
  }
  