
<!-- <table  align="center">
    <tr >
        <th *ngFor="let head of heading"> {{head.label}} </th>
    </tr>
    <tr *ngFor="let data of datas">
       <td *ngFor="let col of heading">{{ data[col.key] }}</td>
       <th> <button mat_button (click)="addData()"> Add</button> </th>
        </tr>
</table> -->

<div #pqgrid ></div>