/* You can add global styles to this file, and also import other style files */
@import "app/theme/styles/login";
@import "app/theme/styles/variables";

@import "./assets/scss/main";
@import "./assets/js-tree/dist/themes/default/style.min.css";

/* Add application styles & imports to this file! */
// @import '~jquery-ui-pack/jquery-ui.css';
// @import '~jquery-ui-pack/jquery-ui.structure.css';
 
// @import '~jquery-ui-pack/jquery-ui.theme.css';
 
// @import '~pqgrid/pqgrid.min.css';
// @import '~pqgrid/pqgrid.ui.min.css';
// @import '~pqgrid/themes/steelblue/pqgrid.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.theme-container {
    max-width: $theme-max-width;
    margin: 0 auto;
  }

@media (min-width: 1380px) {
    .theme-container {
      max-width: 1405px;
    }
  }
  
  @media (min-width: 1920px) {
    .theme-container {
      max-width: 1600px;
    }
}

.pq-grid-col, .pq-grid-number-col {
  color: white;
}
  